<mat-card appearance="outlined" class="my-2 mx-3" *ngIf="dataPokemon">
  <mat-card-title class="mx-2 my-2 text-center">
    {{ dataPokemon.name.toUpperCase() }} - {{ dataPokemon.id }}
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-4">
        <app-abilities [abilities]="dataPokemon.abilities"></app-abilities>
        <app-type [types]="dataPokemon.types"></app-type>
      </div>
      <div class="col-8">
        <app-images-pokemon [images]="dataPokemon.sprites"></app-images-pokemon>
      </div>
    </div>
  </mat-card-content>
</mat-card>
